body{
  background-color: black;
}

.backdrop{
  background: url("Rainbow Brick CROP.jpg") center;
  background-size: contain;
  margin: auto;
  width: 75vw;
}

.text{
  color: black;
  border: 40px solid;
  background: #b4c2c0;
  mix-blend-mode: screen;
  font: bolder 12vw courier;
  text-align: center;
}
